#calendar {
    width: 100%;
    margin-bottom: 20px;
}
/* 이전/다음 버튼 스타일 */
.fc-prev-button,
.fc-next-button {
    background: rgb(48, 106, 254) !important;
    border: none !important;
}

/* 타이틀 스타일 (현재 월/년 표시 부분) */
.fc-toolbar-title {
    font-size: 16px !important;
}
/* 날짜 스타일 (일 표시 부분) */
.fc-daygrid-day {
    cursor: pointer;
}
.fc-daygrid-day.select {
    background: rgb(48, 106, 254) !important;
    color: #ffffff;
}
.fc-daygrid-day-number {
    font-size: 11px;
}
